<div class="footer">
  <div class="container">
    <h2 class="footer-title">聯絡方式<span>CONTACT METHOD</span></h2>
    <p class="mail mb-4">Mail：xxxd@hexschool.com</p>
    <p class="phone mb-4">Phone：0910123456</p>
    <p class="location mb-4">Kaohsiung, Taiwan</p>
    <p class="Portfolio mb-4">作品連結：https://www.behance.net/xxxdddddd</p>
    <ul>
      <li><img src="../assets/images/facebook.svg" alt=""></li>
      <li><img src="../assets/images/instagram-alt.svg" class="ins" alt=""></li>
      <li><img src="../assets/images/line.svg" alt=""></li>
    </ul>
  </div>
</div>