<div class=" header container">
  <h1 class="title">Joanne<br> Chen</h1>
  <img src="../assets/images/photo.png" alt="" class="photo">
  <div class="profile">
    <h2>個人資料<span class="profile-title">PROFILE</span></h2>
    <div class="profile-content">
      <div class="intro">
        <span>陳久安 Joanne Chen </span><br>
        <span>1997- </span><br>
        <span>應屆畢業生／接案設計師／UI 設計實習生</span>
      </div>
      <div class="want">
        <span>UI 設計修行中</span><br>
        <span>獨立接案，內容涵蓋： </span><br>
        <span>品牌規劃、視覺設計、編輯設計、標準字、物件及印刷品設計等。</span><br>
      </div>
    </div>
  </div>
  <div class="education">
    <h2>學歷<span class="education-title">EDUCATION</span></h2>
    <div class="degree">
      <span class="degree-1">國立六角師範大學 視覺設計學系 學士學位 | 2016－2020</span>
      <span class="degree-2">國立六腳高級中學 美術班 | 2013－2016</span>
    </div>
  </div>
</div>